.navbar{
    box-shadow: 0 3px 12px #3291A5;
}
.nav-link{
    font-size: 18px;
    margin-right: 15px;
}
header{
    min-height: 100vh;
   background-image: url(../images/header.jpeg);
    background-position: center;
    background-size: cover;
    
}